

        <!-- Bottom navigation -->
        <footer>
            <nav class="navbar fixed-bottom navbar-dark bg-dark">
                <h6 class="display-6 navbar-text">&copy; Copyright <script>document.write(new Date().getFullYear())</script>. All Rights reserved to CodeCarving Group</h6>
            </nav>
        </footer>
    </body>
</html>
