
<%- include partials/header.ejs %>

<%- include partials/nav_bar.ejs %>

<!-- Main content -->
<main class="container">
    <div class="jumbotron" id="home">
        <h1 style="color:#bfff01; font-size: 5em;" class=" text-center">CodeCarving Group</h1>
        <h3 style="color:#080013;" class="display-4 text-center">Incident Management</h3>
    </div>
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
<!--  <ol class="carousel-indicators">-->
<!--    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>-->
<!--    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>-->
<!--    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>-->
<!--  </ol>-->
  <div class="carousel-inner">
<!--    <div class="carousel-item active">-->
<!--      <a href="/incident-list"> <img class="d-block w-100" src="/assets/images/background.jpg" alt="Incident Records" style="height:520px"> </a>-->
<!--    </div>-->
<!--    <div class="carousel-item">-->
<!--      <a href="/incident-list/dashboard"> <img class="d-block w-100" src="/assets/images/background.jpg" alt="Incident Dashboard" style="height:520px"> </a>-->
<!--    </div>-->
<!--    <div class="carousel-item">-->
<!--      <a href="#"> <img class="d-block w-100" src="/assets/images/background.jpg" alt="Cerberus" style="height:520px"> </a>-->
<!--    </div>-->
  </div>
<!--  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">-->
<!--    <span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
<!--    <span class="sr-only">Previous</span>-->
<!--  </a>-->
<!--  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">-->
<!--    <span class="carousel-control-next-icon" aria-hidden="true"></span>-->
<!--    <span class="sr-only">Next</span>-->
<!--  </a>-->
    <!--    此处创建一个图片放我们的LOGO 居中  -->
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <img src="/assets/images/logo.png" class="rounded mx-auto d-block" alt="CodeCarving Group" style="height: 400px">
        </div>
        <div class="col-md-4">
        </div>


<!--    此处创建3个按钮 分别导航到  Dashboard list -->
<div class="row">
        <div class="col-md-4">
            <a href="/incident-list" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true">Incident Records</a>
        </div>
        <div class="col-md-4">
            <a href="/incident-list/dashboard" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true">Incident Dashboard</a>
        </div>
        <div class="col-md-4">
            <a href="https://sjin.atlassian.net/jira/software/projects/CCG/boards/1" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true">Jira</a>
        </div>
    </div>


</div>

</main>


<%- include partials/footer.ejs %>

