
<%- include partials/header.ejs %>

<%- include partials/nav_bar.ejs %>

<!-- Main content -->
<main class="container">
    <div class="jumbotron" id="home">
        <h1 style="color:#daa520;"class="display-2 text-center">CodeCarving Group</h1>
        <h3 style="color:gold;"class="display-4 text-center">Incident Management</h3>
    </div>
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <a href="/incident-list"> <img class="d-block w-100" src="/assets/images/background.jpg" alt="Incident Records" style="height:520px"> </a>
    </div>
    <div class="carousel-item">
      <a href="/incident-list/dashboard"> <img class="d-block w-100" src="/assets/images/background.jpg" alt="Incident Dashboard" style="height:520px"> </a>
    </div>
    <div class="carousel-item">
      <a href="#"> <img class="d-block w-100" src="/assets/images/background.jpg" alt="Cerberus" style="height:520px"> </a>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

</main>


<%- include partials/footer.ejs %>

