

<%- include ../partials/header.ejs %>

<%- include ../partials/nav_bar.ejs %>

<!-- Content for the Add page -->
<main class="jumbotron text-center titleMain">
    <h1 class="jumbotron-heading display-3"><%= title %></h1>
</main>
<div class="modal-dialog text-center">
    <div class="col main-section">
        <div class="modal-content model-content-incident">
            <div class="col-12 user-img">
                <img src="/assets/images/incident-icon.jpg">
            </div>
            <div class="col-12 form-input">
                <form method="POST" autocomplete="off">
                    <div class="form-group fonticon2">
                        <label for="customerInfo" class="labelList">Incident Description</label>
                        <input type="text" class="form-control" id="description"
                            placeholder="Enter incident description" name="description" required>
                        <i class="fas fa-clipboard-list fa-lg"></i>
                    </div>
                    <div class="form-group fonticon2">
                        <label for="customerInfo" class="labelList">Incident Priority</label>
                        <select class="form-control mdb-select md-form selectList" id="priority" name="priority"
                            required>
                            <option value="Low">Low</option>
                            <option value="Normal" selected>Normal</option>
                            <option value="High">High</option>
                        </select><i class="fas fa-user-clock fa-lg"></i>
                    </div>
                    <div class="form-group fonticon2">
                        <label for="customerInfo" class="labelList">Customer Information</label>
                        <input type="text" class="form-control" id="customerInfo"
                            placeholder="Enter customer infomation" name="customerInfo" required>
                        <i class="fa fa-user fa-lg"></i>
                    </div>
                    <fieldset class="float-right">
                        <button class="btn btn-primary addButton">
                            <i class="fa fa-edit"></i> Add
                        </button>
                        <a href="/incident-list" class="btn btn-warning cancelButton">
                            <i class="fa fa-undo"></i> Cancel
                        </a>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>


<%- include ../partials/footer.ejs %>
